<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vuniversity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.vuniversity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GroupsActivity"
            android:label="@string/groups" >
        </activity>
        <activity
            android:name="AddGroupActivity"
            android:label="@string/addNewGroup"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="StudentsActivity"
            android:label="@string/students" >
        </activity>
        <activity
            android:name="AddStudentActivity"
            android:label="@string/addNewStudent"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="EditStudentActivity"
            android:label="@string/editStudent"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="EditGroupActivity"
            android:label="@string/edtiGroup"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="SubjectsActivity"
            android:label="@string/subjects" >
        </activity>
        <activity
            android:name="AddSubjectActivity"
            android:label="@string/addNewSubject"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="EditSubjectActivity"
            android:label="@string/edtiSubject"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="TeachersActivity"
            android:label="@string/teachers" >
        </activity>
        <activity
            android:name="EditTeacherActivity"
            android:label="@string/editTeachers" >
        </activity>
        <activity
            android:name="AddTeacherActivity"
            android:label="@string/addTeachers" >
        </activity>
        <activity
            android:name="AddSubjectForTeacher"
            android:label="@string/addSubjectForTeacher"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="PutMarkForStudent"
            android:label="@string/putMarkForStudent"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="ShowDetailsStudent"
            android:label="@string/showDetailsStudent" >
        </activity>
    </application>

</manifest>